.col-1 {
  width: 100%;
  display: block;
  float: left; }

.col-2 {
  width: 50%;
  display: block;
  float: left; }

.col-3 {
  width: 33.33333%;
  display: block;
  float: left; }

.col-4 {
  width: 25%;
  display: block;
  float: left; }

.col-5 {
  width: 20%;
  display: block;
  float: left; }

.col-6 {
  width: 16.66667%;
  display: block;
  float: left; }

.col-7 {
  width: 14.28571%;
  display: block;
  float: left; }

.col-8 {
  width: 12.5%;
  display: block;
  float: left; }

.col-9 {
  width: 11.11111%;
  display: block;
  float: left; }

.col-10 {
  width: 10%;
  display: block;
  float: left; }

.col-11 {
  width: 9.09091%;
  display: block;
  float: left; }

.col-12 {
  width: 8.33333%;
  display: block;
  float: left; }
